extends application.pug

block content
  div(class="container-fluid")
    div(class="row")
      div(class="jumbotron" id="about")
        div(class="container")
          h1 FindTrails
          h4 Share and find GPX files for the best trailruns and hikes!

  
  include ./footer.pug
