doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
      
      
    title Findtrails: GPS routes sharing platform
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav(class="navbar navbar-default navbar-fixed-top")
      div(class="container-fluid")
        div(class="navbar-header")
          button(id="hamburger" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
            span(class="sr-only">Toggle navigation)
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="/" id="homebutton") FindTrails
        div(class="navbar-collapse collapse") 
          ul(class="nav navbar-nav navbar-right" id="nav-items")
            if user
              li
                a(href='/logout') Logout
              li
                a(href='/upload') Upload file
            else 
              li
                a(href='/register') Register
              li(class="dropdown")
                a(href="#" class="dropdown-toggle" data-toggle="dropdown") Sign in 
                  span(class="caret")
                  ul(id="login-dp" class="dropdown-menu")
                    li
                      div(class="row")
                        div(class="col-md-12") Sign in via
                          div(class="social-buttons")
                            a(href="#" class="btn btn-fb")
                              i(class="fa fa-facebook") 
                            a(href="#" class="btn btn-tw")
                              i(class="fa fa-twitter")  
                          p or
                          form(class="form" role="form" method="post" action="/log-in" accept-charset="UTF-8" id="log-in")
                            div(class="form-group")
                              label(class="sr-only" for="username") Username
                              input(type="text" class="form-control" id="usernae" name="username" class="validate" placeholder="Username" required)
                            div(class="form-group")
                              label(class="sr-only" for="password") Password
                              input(type="password" class="form-control" id="password" name="password" class="validate" placeholder="Password" required)
                              #login-failed
                            div(class="help-block text-right")
                              a(href="") Forget your password ?
                            div(class="form-group")
                              button(type="submit" class="btn btn-primary btn-block") Sign in
                                  
                        div(class="bottom text-center") New here? 
                          a(href="#") 
                            b Register
    
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBdVgxHDOdfpMCYuDeqIg6RCi4zF3w20Lk')
    script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script(language="javascript" type="text/javascript" src="./javascripts/map.js")
    script(language="javascript" type="text/javascript" src="./javascripts/custom.js")
    
    block content
