extends application.pug

block content
  
  div(class="container-fluid")
    div(class="row")
      div(class="jumbotron" id="index-errors")
        div(class="container")
          h1 FindTrails
          h4 Share and find GPX files for the best trailruns and hikes!
          p
            a(class="btn btn-primary btn-lg" href="/about" role="button") Learn more
                  
        form#searchLocation(action="/search" method="post")
          div(id="custom-search-input")
            div(class="input-group col-md-12")
              input(class="form-control input-lg" placeholder="Enter location to find gpx files" name="search" id="search" type="search" required)
              span(class="input-group-btn")
                button(type="submit" class="btn btn-info btn-lg" name="action")
                  i(class="glyphicon glyphicon-search")
        #notfound 
    
    div(class="container" id="intro")
        h2 Share and find the best runs or hikes
        p Want to run or walk a nice route in nature, using your GPS watch or another navigation device? You could plot a route yourself on a map, but you’re not sure if this will take you past the nicest paths and scenery. FindTrails, makes it easy: type in your location and have your pick of fine, quality-assured local routes, downloadable in GPX format. As a member, you can also upload and share your routes with other users and rate them. In this way, finding the best routes is made easy and a community of outdoor lovers is created!
    
    div(class="container")
      div(class="row" class="box-shadow")        
        #map-canvas(style="height: 650px; width: 60%; float: left;")
        #map-options
          h3 Search results are displayed on the map
          p The markers indicate the starting point of the route. When you click one of the markers you will find more information on the route, and you will be presented with the option to download the GPX file. 
          button(class="btn btn-primary btn-lg" id="new-search" role="button") New search
            
            
  include ./footer.pug
