extends application.pug

block content
  
  div(class="container-fluid")
    div(class="row")
      div(class="jumbotron" id="index-errors")
        div(class="container")
          h1 FindTrails
          h4 Share and find GPX files for the best trailruns and hikes!
          p
            a(class="btn btn-primary btn-lg" href="/about" role="button") Learn more
                  
        form#searchLocation(action="/search" method="post")
          div(id="custom-search-input")
            div(class="input-group col-md-12")
              input(class="form-control input-lg" placeholder="Enter location to find gpx files" name="search" id="search" type="search" required)
              span(class="input-group-btn")
                button(type="submit" class="btn btn-info btn-lg" name="action")
                  i(class="glyphicon glyphicon-search")
        #notfound 
    
    section#services
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Share and find the best runs or hikes!
          p.section-subheading.text-muted Want to run or walk a nice route in nature, using your GPS watch or another navigation device? You could plot a route yourself on a map, but you’re not sure if this will take you past the nicest paths and scenery. FindTrails, makes it easy: type in your location and have your pick of fine, quality-assured local routes, downloadable in GPX format. As a member, you can also upload and share your routes with other users and rate them. In this way, finding the best routes is made easy and a community of outdoor lovers is created!
      .row.text-center
        .col-md-3
          span.fa-stack.fa-3x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-map-marker.fa-stack-1x.fa-inverse
          h4.service-heading Search the map for GPS routes
        .col-md-3
          span.fa-stack.fa-3x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-leaf.fa-stack-1x.fa-inverse
          h4.service-heading Share your favourite trails
        .col-md-3
          span.fa-stack.fa-3x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-picture-o.fa-stack-1x.fa-inverse
          h4.service-heading Add information for other users
        .col-md-3
          span.fa-stack.fa-3x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-globe.fa-stack-1x.fa-inverse
          h4.service-heading Routes available all over the world
        a(class="btn btn-primary btn-lg" href="/register" id="sign-up-button" role="button") Sign up now!
          
    div(class="row")
      div(class="jumbotron" id="about")
    
    div(class="container" id="map")
      div(class="row col-md-8 col-md-offset-2")  
        h3 Trail Map
        button(type="submit" id="new-search" class="btn btn-info btn-sm" name="action") New search
        #map-container
          #map-canvas(style="height: 650px;")
      
    section#portfolio.bg-light-gray
    .container(id="portfolio")
      .row
        .col-lg-12.text-center
          h2.section-heading Trail examples
      .row
        .col-md-4.col-sm-6.portfolio-item
          |  
          img.img-responsive(src='/images/gallery/gallery1.jpeg', alt='')
          .portfolio-caption
            h4 Hellvellyn trail, UK
            p.text-muted Taking the Lake District by storm
        .col-md-4.col-sm-6.portfolio-item
          |  
          img.img-responsive(src='/images/gallery/gallery2.jpeg', alt='')
          .portfolio-caption
            h4 Trail du Mont Blanc
            p.text-muted Discover the French Alps
        .col-md-4.col-sm-6.portfolio-item
          |  
          img.img-responsive(src='/images/gallery/gallery3.jpeg', alt='')
          .portfolio-caption
            h4 Lillehammer Loop
            p.text-muted Run around wintery Norway
                
  include ./footer.pug
