extends application.pug

block content
  h1 Register
  form(id="register" action="/register" method="post")
    label(for="email") Email
    input(placeholder="Your e-mail" name="email" id="email" type="email" class="validate")
    label(for="username") Username
    input(placeholder="your name" name="username" id="username" type="text" class="validate")
    label(for="password") Password
    input(placeholder="Your password" name="password" id="password" type="password" class="validate")
    button(type="submit" name="action") Submit
